
.main-img{
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0px 0px 10px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

